{% extends 'all-photos/base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <h1 class="text-center">Gallery</h1>
    <!-- Loop thru the images -->
    <div class="row">
    {% for image in all_images%}
    
        <div class="col-md-3 main-page d-flex" style=" margin-top: 10px;">
                <div class="card card-cascade wider flex-fill ">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                          <a data-toggle="modal" data-target="#{{image.id}}"><img  class="card-img-top" src="{{image.image_path.url}}" alt="{{image.image_name}}"></a>
                           <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{image.id}}">Expand photo</button> -->
                        </div>
                </div>
        </div>  
    <!--Modal: modalYT-->
<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">

  <!--Content-->
  <div class="modal-content">

    <!--Body-->
    <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="{{image.image_path.url}}" alt="Image Loading" style="margin:10px;"  allowfullscreen>
      </div>

    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
        <div class="row">
            <p><strong>Name:</strong>{{image.image_name}} </p>
        </div>
        <div class="row">
            <p><strong>Location:</strong>{{image.image_location}} </p>
        </div>
        <div class="row">
            <p><strong>Category:</strong>{{image.image_category}} </p>
        </div>
        
        
        <button class="btn btn-outline-info btn-rounded btn-md ml-4">Copy Image Url</button>
        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
        data-dismiss="modal">Close</button>
        

    </div>

  </div>
  <!--/.Content-->

</div>
</div>
<!--Modal: modalYT-->
    {% empty %}
    <div class="row">
        <h1 class="text-center"> No Images Yet</h1>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
